<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title> Videos App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar placeholder="Buscar"> </ion-searchbar>

  <ion-list>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img
          src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/w8BVC3qrCWCiTHRz4Rft12dtQF0.jpg"
        />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>Mortal Kombat (2021)</h1>
          <p>15/04/2021 (BR) - 1h 50m</p>
          <p>Ação, Fantasia, Aventura</p>
        </div>
      </ion-label>

      <ion-chip color="success" outline>
        <ion-label>76%</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
</ion-content>
