<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title> Videos App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar placeholder="Buscar"> </ion-searchbar>

  <ion-list>

    <ion-item-sliding>
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img
            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/w8BVC3qrCWCiTHRz4Rft12dtQF0.jpg"
          />
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>Mortal Kombat (2021)</h1>
            <p>15/04/2021 (BR) - 1h 50m</p>
            <p>Ação, Fantasia, Aventura</p>
          </div>
        </ion-label>

        <ion-chip color="success" outline>
          <ion-label>76%</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option >
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img
            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/ArWn6gCi61b3b3hclD2L0LOk66k.jpg"
          />
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>Liga da Justiça de Zack Snyder (2021)</h1>
            <p>18/03/2021 (BR) - 4h 2m</p>
            <p>Ação, Aventura, Fantasia, Ficção científica</p>
          </div>
        </ion-label>

        <ion-chip color="success" outline>
          <ion-label>76%</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option >
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>
